*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
/* UTILITIES */
header{
    background-color: rgba( 49, 97, 224, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 100%;
    
}
.jumbo{
    background-image: url(../img/jumbo.png); 
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    
}
.row-header{
    width: 900px;
    display: flex;
    margin-top: 20px;
    
}

.blue-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
       
}

.white-row{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item{
    width: 500px;
}
.lightgrey-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    
}
#lightgrey-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
    

    
}
.green-col p, h1{
    padding-top: 20px;
    
}
.black-row{
    display: flex;
    justify-content: center;
    background-color: rgba(35, 39, 42, 36);
    padding-top: 40px;
}

footer{
    background-color: rgba(35, 39, 42, 36);
    display: flex;
    justify-content: center;
    align-items: end;
}
.row-footer{
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 60px;

}
.social{
    padding-top: 10px;
}
p{
    font-size: 15px;
}

/* END UTILITIES */
#login{
    border-radius: 20px;
    padding: 7px;
    background-color: white;
    font-size: 8px;
    border: none;
    
}
.col-logo{
    width: 20%;
    text-align: initial;

}
.img-logo{
    width: 100px;
    
}
.col-button{
    width: 20%;
    text-align: end;

}

#col-60{
    width: 60%;
    padding-top: 5px;
    color: white;
    text-align: center;
    
}
span{
    padding-right: 20px;
    
}
.menu{
    font-size: 13px;
}
.violet-col{
    width: 500px;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
.violet-col h1{
    padding-bottom: 25px;
    font-size: 40px;
    padding-top: 80px;
}
.violet-col p{
    padding-bottom: 20px;
    
}
#arrow-button{
    padding-right: 4px;
}
.sub-button{
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
}
.black-button{
    padding: 12px 15px;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;

}
#blue-button{
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    background-color:  rgba(142, 161, 255, 163);
    color: white;
    font-size: 13px;
    margin-top: 30px;
}
.light-blue-col{
    width: 500px;    
}
.light-pink-col{
    width: 300px;   
}
.green-col{
    width: 800px;
}
.col-40{
    width: 250px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 1px solid cornflowerblue;
    
}
.col-60{
    width: 650px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid cornflowerblue;
    
}
.sub-col{
    width: 30%;
    color: white;
}
.col-20{
    background-color: rgba(35, 39, 42, 36);;
    align-self: center;
    font-size: 11px;
       
}

.light-pink-col h1{
    padding-bottom: 20px;

}
.logo-ita{
    width: 17px;
    
}
.log-social{
    font-size: 20px;
}
select{
    border: none;
    color: white;
    background-color: rgba(35, 39, 42, 36);
}
.black-row h2{
    padding-bottom: 10px;
    color:  rgba(119, 143, 229, 164);
}
ul{
    list-style-type: none;
    font-size: 12px;
}
ul :first-child{
    color: rgba(119, 143, 229, 164);
}
li{
    padding-bottom: 10px;
}
ul, span{
    font-size: 15px;
}
.button-footer{
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: rgba(86, 193, 255, 0.692);
    color: white;
    font-size: 11px;

}

